* {
  font-family: verdana, tahoma, sans-serif;
}

body{
  margin: 0;
  background-image: 
  radial-gradient(circle, rgba(139,92,246,0.6) 1px, transparent 1px),
  radial-gradient(circle, rgba(59,130,246,0.4) 1px, transparent 1px),
  radial-gradient(circle, rgba(236,72,153,0.5) 1px, transparent 1px);
  background-size: 20px 20px, 60px 60px;
  height: 100vh;
  background-position: 0 0, 10px 10px, 30px 30px;
}



header {
  /* background: url(../images/cats.jpg); */
}

header h1 {
  margin: 0;
  color: blue;
  text-align: center;
  font-size: 100px;
}

#status {
  font-style: italic;
}

#content {
  display: none;
  place-items: center;
  height: 100vh;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

#backButton {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.result {
  display: flex;
  width: 49vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result-inner {
  padding: 30px;
  padding-bottom: 0;
  border-radius: 10px;
}


.result img {
  box-shadow: 0 15px 17px -7px rgba(0, 0, 0, 0.6);
  transition: .5s ease;
  border-radius: 10px;
  max-height: 80vh;
  min-width: 50%;
}

.result img:hover {
  transform: scale(1.05);
  transition: .5s ease;
}

.result span {
  font-size: 12px;
  font-weight: bold;
  display: block;
}


.result audio {
  width: 130px;
}
* button {
  display: inline-block;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  padding: 10px 18px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  font-size: 9.5pt;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  font-family: sans-serif;
  text-decoration: none;
  padding: 10px;
}

button.green {
  margin-top: 10px;
  border-color: #8fc800;
  background: #8fc800;
  background: linear-gradient(top, #8fc800 0%, #438c00 100%);
}

button:hover {
  background: #8fdd00;
}

button:active {
  background: #8fff00;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}

button:focus {
  outline: 0;
}

.widgets {
  display: flex;
  justify-content: center;
}

.container{
  border-radius: 10px;
  background-color: wheat;
  padding: 0 20px;
}

.container h3{
  text-align: center;
}

#parameters{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes fadein{
  0%{
    opacity: 0;
    animation-timing-function: ease-out;
  }
  100%{
    opacity: 1;
  }
}
