@font-face {
    font-family: Caramel;
    src: url(XCicero_Caramel/Caramel-Regular.otf);
}
@font-face {
    font-family: Grave;
    src: url(XCicero_GravePresse/GravePresse-ExtraBold.otf);
}
@font-face {
    font-family: Antique;
    src: url(XCicero_AntiqueSerie/AntiqueSerie-Regular.otf);
}
@font-face {
    font-family: Americaine;
    src: url(XCicero_Americaine/Americaine-Condensed.otf);
}

body{
    margin: 0 2vw;
}
.bar-right{
    background-color: black;
    position: fixed;
    height: 100%;
    width: 2vw;
    right: 0;
}
.bar-left{
    background-color: black;
    position: fixed;
    height: 100%;
    width: 2vw;
    left: 0;
}
.wrapper {
  max-width: 100%;
  overflow: hidden;
  border-bottom: black 3px solid;
  font-family: Antique , sans-serif;
  font-size: 1.5em;
}
header{
  display: flex;
  flex: 1 1;
  align-items: center;
  justify-content: center;
  width: 100% - 3vh;
  padding: 3vh;
}
header h1{
  font-family: Grave, sans-serif;
  font-size: 3em;
}
header p{
  font-family: Arial, Helvetica, sans-serif;
}
header h3{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0;
  font-family: 'Arial Narrow', sans-serif;
  background-color: black;
  color: white;
  height: 2em;
  font-size: 1.5cqb;
}
header img{
  width: 90%;
}

.page title{
    display: flex;
    flex-direction: column;
}
.image{
    width: 25%;
    display: flex;
    flex-direction: column;
}
.socials{
  display: flex;
  height: 7vh;
  align-items: center;
  justify-content: space-between;
  border-top: black solid 3px;
  border-bottom: black solid 3px;
}
#left-h2{
  width: 33%;
}
#right-h2{
  width: 33%;
  text-align: right;
}

.buttons{
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.buttons img{
  height: 5vh;
}

.paragraph{
  padding: 1vh;
  margin: 2vh auto;
  width: 50%;
  text-align: justify;
  border-top: black solid 2px;
  border-bottom: black solid 2px;
}
#big{
  font-size: 2em;
}
#special{

}
.interests-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.interests{
  display: flex;
  flex-direction: column;
  height: 10vh;
  width: 45%;
  background-color: beige;
}
.marquee {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 10s linear infinite;
}

.marquee p {
  display: inline-block;
  
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.dither-container {
  width: 100%;
  height: 100%;
  position: relative;
}

footer{
  height: 10vh;
}