@font-face {
    font-family: "Blippo";
    src: url('media/Blippo-Black-Regular/Blippo-Black-Regular.otf');
}

#bg{
    background-color:black;
    height: 5vh;
    width: 100%;
    position: absolute;
    z-index: 3;
}

nav{
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-around;
    align-items: center;
    z-index: 4;
    height: 5vh;
}

.MobileLink{
    display: none;
}

nav a{
    text-decoration: none;
    color: white;
    opacity: 1;
}

body{
    margin: 0;
    font-family: "Bai Jamjuree", sans-serif;
    background-color: #d6b460;
}

.wrapper{
    display: grid;
    grid-template-rows: 10vw auto 2fr;
    grid-template-columns:4fr 1fr;
    grid-template-areas: 
    "header header"
    "power power"
    "maincontent side";
}

header{
    background-color: #3f7ab5;
    display: flex;
    align-items: center;
    grid-area: header;
}
header h1{
    padding: 10px;
    padding-left: 3vw;
    color: #b65e29;
    font-family: "BBH Sans Bogle", sans-serif;
    font-size: 5vw;
    font-weight: 100;
    transform: scale(1.2, 2);
    white-space: nowrap;
    -webkit-text-stroke: 1px white;
    line-height: 0;
}

header h2{
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 2vw;
    font-weight: 500;
    transform: scale(.9, 1.8) translateX(-1vw);
    line-height: 1;
    width: 30vw;
}

#zelda{
    align-self: flex-start;
    padding-left: 2vw;
    height: 28vw;
    width: 22vw;
    object-fit: cover;
    object-position: right;
}

.SonicGraphic{
    align-self: start;
    z-index: 2;
    position: absolute;
    right: 4vw;
    top: -4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(media/fazstar.png);
    background-size: cover;
    width: 22vw;
    height: 22vw;
}
.SonicGraphic img{
    height: 14vw;
    width: 16.5vw;
    object-fit: cover;
    object-position: center;
    position: absolute;
    padding-bottom: 2vh;
}

#sonicGraphic2{
    display: none;
}

main,
aside{
    background-color: #d6b460;
}

#title{
    background-color: #d69960;
    grid-area: power;
    z-index: 1;
    line-height: 0;
    font-family: Blippo;
}
#title div{
    display: flex;
}

#title h2, #title h1, #title p{
    color: white;
    -webkit-text-stroke: 4px #0070b3;
    font-weight: 900;
}

#title h2{
    margin: 0 0;
    padding-top: 8.5vw;
    font-size: 16vw;
    transform: scale(.9, 1.05) translateX(-2.75vw);
}
#title h1{
    margin: 5vw 18.25vw;
    padding-bottom: 3vw;
    font-size: 7.25vw;
    transform: scaleY(.7);
}

#title p{
    font-size: 30vw;
    margin: 0 2vw;
    margin-right: 0vw;
    padding-top: 13vw;
    transform: scaleX(.9);
}

#title div img{
    height: 22vw;
    position: absolute;
    right: 7vw;
}

aside{
    grid-area: side;
    display: flex;
    flex-direction: column;
}

#plus{
    margin: 0;
    color: #b65e29;
    text-align: center;
    font-weight:900;
    font-size: 20vw;
    line-height: 50%;
    word-spacing: -1px;
}

aside div h1{
    color: black;
    font-size: 16px;
}

.content-container{
    grid-area: maincontent;
}

#sidetext{
    width: 90%;
}

#sidetext p{
    text-align: right;
    font-size: 2vw;
    font-weight: 500;
    transform: scale(.85, 1.2);
    transition: transform  1s ease, scale 1s ease, background-color 1s ease, color 1s ease;
}

#sidetext p:hover{
    transform: scale(.85, 1.2) translateX(-2vw);
    background-color: black;
    transition: 1s ease;
}

#sidetext p:hover>a{
    color: white;
    transition: 1s ease;
}

#sidetext a{
    text-decoration: none;
    color: black;
    transition: 1s ease;
}

.content{
    padding: 1.25vw;
    letter-spacing: -1.75px;
    width: 50%;
}

.content h3, .content h4, .content p{
    transform: scale(.8, 1.2) translateX(-4vw);
}

#cSonic{
    float: left;
    position: absolute;
    right: 13vw;
    z-index: 2;
    width: 50%;
    transform: translate(-3vw, -5vw);
}

.content h3{
    color: #b65e29;
    font-size: 3.5vw;
    font-style: italic;
    text-align: left;
    font-weight: 700;
}

.content li::marker{
    color: #b65e29;
    font-size: 2.5em;
    content: "▶";
}

.content li p{
    width: 20vw;
    margin-left: 3vw;
    font-size: 2.75vw;
    font-weight: 650;
    transform: scale(.9, 1.2) translateX(-30px);
}
.content li:hover>p{
    margin-bottom: .5vw;
}

.content h4{
    font-size: 3vw;
    margin: 0;
    margin-top: 2vw;
    font-weight: 500;
    line-height: .75;
}

.content h4 strong{
    font-size: 1.75em;
    font-weight: 700;
}

.content h2, .content h1{
    color:#0070b3;
    margin: 0;
    padding: 0;
    line-height: .8;
}

.content h1{
    font-size: 4.275vw;
}

.content h2{
    font-size: 6.375vw;
}

.content h5{
    font-size: 2.5vw;
    font-weight: 500;
}

#flavor-text{
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: .8vw;
    width: 7vw;
    color: red;
    right: 19vw;
    letter-spacing: normal;
    z-index: 2;
    top: 60vw;
    transform: scale(.9, 1.1) translateY(-15vw);
}

#flavor-text img{
    width: 40%;
    margin: 0;
    transform: translateX(-3vw);
}


.graphic img{
    position: absolute;
    top: 85vw;
    object-fit: cover;
    object-position: center center;
    width: 18.5vw;
    height: 30vw;
}

#gText{
    display: flex;
    align-items: center;
}


#gText h2, #gText h3{
    font-size: 1vw;
    text-align: center;
    color: white;
    margin: 0;
}
#gText h2{
    background-color: #2f2d2d;
    flex-grow: 1;
}

#gText h3{
    background-color: #787474;
    flex-grow: 1;
}

li.submenu ul {
    display:none;
}
li.submenu:hover{
    margin-bottom: 0;
}
li.submenu:hover ul {
    display:flex;
    flex-direction: column;
}
.menu a {
    display: flex;
    padding: 10px;
    text-decoration: none;
    transition: transform 0.1s ease;
}

.menu a:visited {
    color: black;
}

.menu a:link {
    color: black;
}

.menu a:hover {
    transform:translateX(1vw);
}
.menu li::marker{
    color: #2c6568;
    font-size: 1em;
    content: "▶";
}


.menu li{
    font-size: 1.5vw;
    transform: scale(.9, 1.2);
}

#firstSide{display: none;}

@media only screen and (min-width:600px) and (max-width: 850px) {
    .graphic img{
        top: auto;
    }
    #sidetext p{
        font-size: 1rem;
    }

    li.submenu:hover ul{
        flex-direction: row;
    }

    .menu li{
        margin-right: 1vw;
    }

    .first-sub{
        margin-left: -6vw;
    }

    .menu li a{
        padding: 5px;
    }
    #cSonic{
        width: 53%;
        padding-top: 4%;
    }
    #flavor-text{
        top: 70vw;
    }

    .SonicGraphic{
        top: 3vw;
    }
}

@media only screen and  (max-width: 600px) {
    .wrapper{  
        grid-template-rows: 10vw auto 2fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "power"
        "maincontent"
        "side";
    }
    #cSonic{ 
        right: -5vw
    }

    .content{
        width: 100%;
        letter-spacing: -1px;
    }

    .content h3, .content h4, .content p{
        transform: scale(.9, 1.2) translateX(-2vw);
    }

    .content2{
        width: 70%;
    }

    .content h3{
        font-size: 2rem;
    }

    .content h4{
        font-size: 2rem;
    }

    .content h1{font-size: 10vw;}
    .content h2{font-size: 15vw;}
    .content h5{
        transform: scaleX(.9) translateX(-2vw);
        font-size: 3.4vw;
        text-align: justify;
    }

    .content li::marker{
        font-size: 1.5em;
    }

    .content li p{
        display: initial;
        margin-left: 5px;
        font-size: 1rem;
    }
    .content li:hover>p{
        margin-bottom: 16px;
    }

    li.submenu ul {
        display: flex;
        flex-direction: row;
    }

    li.submenu:hover ul {
        display: flex;
        flex-direction: row;
    }

    .menu a{
        padding: 0;
        padding-right: 10px;
    }

    .menu a:hover {
        transform:translateX(1vw);
    }

    .first-sub{
        margin-left: -9vw;
    }

    .content h5{
        transform: scaleX(.9) translateX(-2vw);
        font-size: 3.4vw;
        text-align: justify;
    }

    .menu li{
        font-size: .6rem;
        transform: scale(1);
        padding-right: 10px;
    }

    aside{
        grid-area: side;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #3f7ab5;
        padding-bottom: 2ch;
    }

    #plus{
        display: none;
    }

    aside div h1{
        color: black;
        font-size: 16px;
    }

    #sidetext{
        align-items: center;
        justify-content: center;
    }

    #sidetext div{
        flex-direction: column;
        transition: none;
        font-size: 2.3vw;
        text-align: left;
        transform: scaleX(.9);
        padding-top: 7vw;
    }

    #sidetext div a{
        text-align: left;
        padding: 1vw;
        width: fit-content;
    }

    #firstSide{
        display: flex;
        width: 50%;
    }
    #sidetext div a:hover{
        transform: translateX(2vw);
        background-color: black;
        color: white;
        transition: 1s ease;
    }

    #sidetext p:not(#firstSide){
        display: none;
    }

    #flavor-text{
        top: 65vw;
        right: 2vw;
    }

    .SonicGraphic{
        top: 120vh;
        right: 17vw;
    }

    #sonicGraphic{
        display: none;
    }
    
    .SonicGraphic{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        flex-direction: column;
        top: auto;
        right: 0;
    }

    
    #sonicGraphic2{
        display: flex;
    }
        

    .graphic img{
        position: relative;
        object-fit: cover;
        object-position: center center;
        width: 18.5vw;
        height: 30vw;
        top: auto;
    }
    .SonicGraphic img{
        height: 18.5vw;
        width: 30vw;
        object-fit: cover;
        object-position: center;
        position: absolute;
    }

    .graphic{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    header{
        justify-content: center;
    }

    header h2{
        color: white;
        font-family: "Bai Jamjuree", sans-serif;
        font-size: 2vw;
        font-weight: 500;
        transform: scale(.9, 1.8) translateX(0);
        line-height: 1;
        width: 30vw;
    }

    #zelda{
        align-self: flex-start;
        padding-left: 2vw;
        height: 28vw;
        width: 22vw;
        object-fit: cover;
        object-position: right;
    }

    #HelpyLink{
        display: none;
    }

    .MobileLink{
        display: initial;
    }
}